.div1
{
    height: 100%;
    width: 100%;
    
}
.divconfig
{
    margin-left: 100px;
    text-align: left;
    margin-right: 150px;
    display: inline-block;
}
.movieDescription
{
    text-align: left;
    width: 800px;
}
.imageDiv
{
    float:left;
}
.movieImage
{
    float: left;
    display: block;
    width: 220px;
    height: 270px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
    
}
.videoDiv
{
    width: 1000px;
    height: 500px;
    margin-top: 70px;
}
